*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

*.class

*/build/
app/build/
core/*/build/
feature/*/build/
sync-server/build/

*.apk
*.aab

*.jks
*.keystore

gradle/wrapper/gradle-wrapper-main-*.jar
gradle/wrapper/gradle-wrapper-shared-*.jar
!gradle/wrapper/gradle-wrapper.jar

.superpowers/
